@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --width: 8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.game_board_container {
  display: flex;
  flex-wrap: wrap;

}

.square {
  /* border: 1px solid rgba(0, 0, 0, 0.158); */
  width: 40px;
  height: 40px;
  background-color: #55cbcd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:nth-of-type(16n), 
.square:nth-of-type(16n + 1),
.square:nth-of-type(16n + 3), 
.square:nth-of-type(16n + 5),
.square:nth-of-type(16n + 7),
.square:nth-of-type(16n + 10),
.square:nth-of-type(16n + 12),
.square:nth-of-type(16n + 14) {
  background-color: #c997c6;
}

.game_board_container > .clicked {
  background-color: whitesmoke;
}


.game_board_container > .flag {
  background-color: green;
}

.game_board_container > .bomb {
  background: black;
}

